# ===== ASOSIY SOZLAMALAR =====
BOT_TOKEN=8946120494:AAHOayftQQhLfzel04-LD2mhI8KvX_IOhFY
# Admin Telegram ID lari (vergul bilan, bir nechta bo'lishi mumkin)
ADMIN_IDS=6302873072, 84961530
# Admin username (@ siz) - "Adminga bog'lanish" tugmasi uchun (bo'sh qoldirsangiz ID orqali ulanadi)
ADMIN_USERNAME=BRAVO_Taxi24

# ===== GURUH (shofyorlar guruhi) =====
# Guruh ID si (masalan -1001234567890). Bot guruhda ADMIN bo'lishi shart!
GROUP_ID=-1002369349784
# Guruhga taklif havolasi
GROUP_LINK=https://t.me/+hJ3GvMoNVaA3Yzhi

# ===== TO'LOV KARTASI =====
CARD_NUMBER=9860 6004 0286 9884
CARD_OWNER=Шокиров А
CARD_PHONE=+998992256666

# ===== NARXLAR / LIMITLAR (so'm) =====
MIN_TOPUP=50000
LOW_BALANCE=20000
PASSENGER_PRICE=10000

# ===== BAZA =====
DB_PATH=data/bot.db
